* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;

  font-family: "Press Start 2P", cursive;
  text-shadow: rgb(179, 178, 178) 2px 2px;
}
body {
  background-color: #9f82f8;
  color: rgb(0, 0, 0);
}

.header-principal {
  text-align: center;
  justify-content: center;
  background-image: url(img/_843784bc-dff0-4828-8c80-36bb29f2d443.jpeg);
  font-size: 2.3rem;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box {
  margin-left: 1rem;
  width: 10rem;
}
.secret {
  border-radius: 10px;
  border: 5px solid rgb(65, 62, 62);
  display: inline-block;
  background-color: #393737;
  text-align: center;
  font-size: 10rem;
  width: 10rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.center {
  display: grid;
  align-items: center;
  justify-content: center;
}
.show-message,
.attempts,
.highscore {
  margin: 5rem;
  text-align: center;
  font-size: 5rem;
  color: #2e313a;
}
.up,
.down,
.middle {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input {
  border: 5px solid rgb(65, 62, 62);
  background-color: #504b4b;

  color: #5c7cfa;
  font-size: 15rem;
  font-family: inherit;
  display: block;
  width: 27rem;
  text-align: center;
}
.btn {
  border: 5px solid rgb(65, 62, 62);

  background-color: #504b4b;
  font-family: inherit;
  color: #fff;
  font-size: 6rem;
  cursor: pointer;
  margin: 1rem;
  padding: 0.5rem;
}
.btn:hover {
  background-color: #f1f1f1;
  color: #504b4b;
}
.secret {
  margin-top: 2rem;
  font-size: 15rem;
  width: 27rem;
  background-color: #504b4b;
  color: #ffe600;
}
.progress {
  border: 1px solid #ffffff;
  display: inline-block;
  background-color: #504b4b;
  font-size: 1rem;
  color: #504b4b;
  width: 100%;
}
.left {
  flex-direction: column;
  justify-content: space-between;
}
.right,
.left {
  display: flex;
  align-items: start;
  margin-top: 20rem;
}

.icon {
  align-self: end;
  width: 15rem;
  color: #393737;
}

@media (max-width: 72em) {
  html {
    font-size: 52.6%;
  }
  .container {
    grid-template-columns: 1fr;
    grid-template-areas: "a" "b" "c";
  }
  .show-message,
  .attempts,
  .highscore {
    margin: 2rem;
  }
  .left,
  .right {
    margin: 0;
    justify-content: center;
    align-items: center;
  }
  .center {
    grid-area: c;
  }
  .icon {
    display: none;
  }
}

@media (max-width: 62em) {
  html {
    font-size: 42.6%;
  }
  .input {
    font-size: 10rem;

    height: 20rem;
  }
}

@media (max-width: 46em) {
  html {
    font-size: 22.6%;
  }
}
