* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Frijole", cursive;
}
body {
  background-color: #f17575;
  color: aliceblue;
}

.header-principal {
  text-align: center;
  justify-content: center;
  background-color: #504b4b;
  font-size: 2.3rem;
  border-bottom: 5px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box,
.secret {
  border-radius: 10px;
  border: 5px solid rgb(65, 62, 62);
  display: inline-block;
  background-color: #393737;
  text-align: center;
  font-size: 10rem;
  width: 10rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.center {
  display: grid;
  align-items: center;
  justify-content: center;
}
.show-message {
  text-align: center;
  font-size: 5rem;
  color: #2e313a;
}
.up,
.down,
.middle {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input {
  border: 5px solid rgb(65, 62, 62);
  background-color: #504b4b;

  color: #f17575;
  font-size: 15rem;
  font-family: inherit;
  display: block;
  width: 27rem;
  text-align: center;
}
.btn {
  border: 5px solid rgb(65, 62, 62);

  background-color: #504b4b;
  font-family: inherit;
  color: #fff;
  font-size: 6rem;
  cursor: pointer;
  margin: 1rem;
  padding: 0.5rem;
}
.btn:hover {
  background-color: #636363;
}
.secret {
  font-size: 15rem;
  width: 27rem;
  background-color: #504b4b;
  color: #f17575;
}
.progress {
  border: 5px solid #f17575;
  display: inline-block;
  background-color: #504b4b;
  font-size: 1rem;
  color: #504b4b;
  width: 10%;
}
.left {
  display: flex;
  align-items: end;
  justify-content: end;
}
.right {
  display: flex;
  align-items: start;
  margin-top: 20rem;
}

.icon {
  width: 15rem;
  color: #393737;
}
